body{
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

table>tbody>tr>td{
    text-transform: initial;
}

.formulario{
    width: 500px;
    text-align: center;
    background-color: rgb(244, 244, 244);
    padding: 10px;
    margin: 100px auto;
   
}
.dadoExibir{
    width: 400px;
    margin: 10px auto;
    text-align: center;
}

.nomeProduto{
    text-align: center;
}

