<body>
    <form action="/cadastrarproduto" method="post" class="form-group formulario">
    <input name="nome" type="text" placeholder="Nome do produto" class="form-control dadoExibir">
    <input name='quantidade' type="number" min="1" placeholder="Quantidade em estoque" class="form-control dadoExibir">
    <input name="preco" type="number"   placeholder="Preço" class="form-control dadoExibir">
    <input type="submit" value="Cadastrar" class="btn btn-success">
</form>
</body>
