<table  class="table table-striped">
    <thead>
        <tr>
            <td>Produto</td>
            <td>Quantidade em estoque</td>
            <td>Valor Unitário</td>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>{{nome}}</td>
                <td>{{quantidade}}</td>
                <td>{{preco}}</td>
            </tr>
       
    </tbody>
</table>