<table class="table">
    <img src="../images/mercado.jpg" alt="">
    <thead>
        <tr >
            <th>Produto</td>
            <th>Quantidade em estoque</td>
            <th>Valor Unitário</td>
            <th>Selecionar</td>
        </tr>
    </thead>
    <tbody>    
        {{#each produtos}}
            <tr>
                <td>{{nome}}</td>
                <td>{{quantidade}}</td>
                <td>R${{preco}}</td>
                <td><a href="/selecionar{{id}}">Selecionar</a></td>
            </tr>
        {{/each}}    
    </tbody>
</table>

<a class='btn btn-primary' href="/cadastrar">Cadastrar produto</a>


